NODE_ENV="development"
BASE_URL="http://localhost:3001"
ORIGINS="http://localhost:3000,http://example_customer.com"

DATABASE_URL="postgresql://username:password@hostname:port/dbname?schema=public"

# JWT (min 32 characters)
JWT_ACCESS_SECRET="your_jwt_access_secret_here_min_32_chars"
JWT_REFRESH_SECRET="your_jwt_refresh_secret_here_min_32_chars"

# Cloudinary
CLOUDINARY_URL="cloudinary://api_key:api_secret@cloud_name"

# Default password for new affiliates (min 8 characters)
DEFAULT_AFFILIATE_PASSWORD="Aa112233*"
